@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="mdl-grid center-items">
    <form asp-controller="Manage" asp-action="ChangePassword" method="post" 
          class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Change Password</h2>
        </div>
        <div asp-validation-summary="All" class="mdl-color-text--red"></div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="OldPassword" class="mdl-textfield__label"></label>
                <input asp-for="OldPassword" class="mdl-textfield__input" />
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="NewPassword" class="mdl-textfield__label"></label>
                <input asp-for="NewPassword" class="mdl-textfield__input" />
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="ConfirmPassword" class="mdl-textfield__label"></label>
                <input asp-for="ConfirmPassword" class="mdl-textfield__input" />
            </div>
            <div class="mdl-card__actions">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Change password</button>
            </div>
        </div>

</form>

</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
