@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}



<div class="mdl-grid center-items">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Change your account settings</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <p class="mdl-color-text--accent">@ViewData["StatusMessage"]</p>
            <div class="mdl-card__supporting-text">
                <h5>Password:</h5>
                @if (Model.HasPassword)
            {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
                }
            </div>
            <div class="mdl-card__supporting-text">
                <h5>External Logins:</h5>
                @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
            </div>
            <div class="mdl-card__supporting-text">
                <h5>Phone Number:</h5>
                <p>
                    Phone Numbers can be used as a second factor of verification in two-factor authentication.
                    See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.
                </p>
                @*@(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                        <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                            [<button type="submit" class="btn-link">Remove</button>]
                        </form>
                    }
                    else
                    {
                        <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                    }*@
            </div>

            <div class="mdl-card__supporting-text">
                <h5>Two-Factor Authentication:</h5>
                <p>
                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                    for setting up this application to support two-factor authentication.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                            Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                            <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                        </form>
                    }*@
            </div>

        </div>

    </div>
</div>