/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.material-icons.md-15 {
    font-size: 15px;
}

.mdl-grid.center-items {
    justify-content: center;
}

a.mdl-layout-title {
    text-decoration: none;
    color: rgb(255,255,255);
}

/*CSS for the upload form */

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
    color: #3F51B5;
}

.mdl-button--header {
    color: rgb(255, 255, 255);
}

.mdl-layout__drawer .mdl-navigation .mdl-button--header {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 10px 40px;
    margin: 0;
    color: #757575;
}

.demo-card-image.mdl-card {
    width: 290px;
    height: 290px;
}

.demo-card-image__caption {
    /*height: 52px;*/
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.demo-card-wide.mdl-card {
    width: 100%;
}

.logo-export{
    height:20px;
    width:20px;
}
