@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<nav class="mdl-navigation">
    <label class="mdl-button mdl-js-button mdl-button--header" id="show-dialog">
        <span class="mdl-cell--hide-phone mdl-cell--hide-tablet">Templates</span>
        <i class="material-icons mdl-cell--hide-desktop">description</i>
    </label>
    <label class="mdl-button mdl-js-button mdl-button--header" id="export">
        <span class="mdl-cell--hide-phone mdl-cell--hide-tablet">Export</span>
        <i class="material-icons mdl-cell--hide-desktop">file_download</i>
    </label>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="export">
        <li class="mdl-menu__item">
            <form asp-controller="Home" method="post" asp-action="WordExport">
                <label>
                    <object type="image/svg+xml" data="~/images/doc.svg" class="logo-export">Your browser does not support SVG</object>
                    <span>As Word</span>
                    <input id="WordExportBnt" style="display: none;" />
                </label>
            </form>
        </li>

        <li class="mdl-menu__item">
            <form asp-controller="Home" method="post" asp-action="ExcelExport">
                <label>
                    <object type="image/svg+xml" data="~/images/xls.svg" class="logo-export">Your browser does not support SVG</object>
                    <span>As Excel</span>
                    <input id="ExcelExportBnt" style="display: none;" />
                </label>
            </form>
        </li>
    </ul>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
        <label class="mdl-button mdl-js-button mdl-button--header" id="uploadBtn">  
            <span class="mdl-cell--hide-phone mdl-cell--hide-tablet">Upload BCF</span>
            <i class="material-icons mdl-cell--hide-desktop">backup</i>
            <input type="file" id="bcffile" name="file" style="display: none;" onchange="this.form.submit()" />
        </label>
    </form>

</nav>
