@using Microsoft.AspNetCore.Identity
@using Sloth.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="mdl-navigation__link">Hello @UserManager.GetUserName(User)!</a>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        
        <button type="submit" class="mdl-button mdl-js-button  mdl-button--accent mdl-button--raised">Log out</button>
    </form>

    @*<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="mdl-navigation__link">Hello @UserManager.GetUserName(User)!</a>
    <a asp-area="" asp-controller="Account" asp-action="Logout" method="post" title="Log Out" class="mdl-button mdl-button--accent mdl-button--raised">Log Out</a>*@
}
else
{
    <a class="mdl-button mdl-button--accent mdl-button--raised" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a class="mdl-navigation__link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
}
