@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="mdl-color-text--red">Access Denied.</h1>
    <p class="mdl-color-text--red">You do not have access to this resource.</p>
</header>
