@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="mdl-color-text--red">Locked out.</h1>
    <p class="mdl-color-text--red">This account has been locked out, please try again later.</p>
</header>
