@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="mdl-grid center-items">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
          class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Create a new account.</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div asp-validation-summary="All"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="Email" class="mdl-textfield__label"></label>
                <input asp-for="Email" class="mdl-textfield__input" />
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="Password" class="mdl-textfield__label"></label>
                <input asp-for="Password" class="mdl-textfield__input" />
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="ConfirmPassword" class="mdl-textfield__label"></label>
                <input asp-for="ConfirmPassword" class="mdl-textfield__input" />
            </div>
            <div class="mdl-card__actions">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Register</button>
            </div>
        </div>
    </form>

</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
