@model IEnumerable<Sloth.Models.DisplayTopic>

@{
    ViewData["Title"] = "Home";
}

<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Export</span>

        <nav class="mdl-navigation">
            <form asp-controller="Home" method="post" asp-action="WordExport">
                <label class="mdl-navigation__link">
                    <object type="image/svg+xml" data="~/images/doc.svg" class="logo-export">Your browser does not support SVG</object>
                    <span>As Word</span>
                    <input type="submit" style="display: none;" />
                </label>
            </form>
            <form asp-controller="Home" method="post" asp-action="ExcelExport">
                <label class="mdl-navigation__link">
                    <object type="image/svg+xml" data="~/images/xls.svg" class="logo-export">Your browser does not support SVG</object>
                    <span>As Excel</span>
                    <input type="submit" style="display: none;" />
                </label>
            </form>
        </nav>
        <span class="mdl-layout-title">Load a Template</span>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="WordTemplate">
            <nav class="mdl-navigation">
                <label class="mdl-navigation__link">
                    <object type="image/svg+xml" data="~/images/doc.svg" class="logo-export">Your browser does not support SVG</object>
                    <span>Word Template</span>
                    <input type="file" name="file" style="display: none;" onchange="this.form.submit()" />
                </label>
            </nav>
        </form>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ExcelTemplate">
            <nav class="mdl-navigation">
                <label class="mdl-navigation__link">
                    <object type="image/svg+xml" data="~/images/xls.svg" class="logo-export">Your browser does not support SVG</object>
                    <span>Excel Template</span>
                    <input type="file" name="file" style="display: none;" onchange="this.form.submit()" />
                </label>
            </nav>
        </form>
    </div>
    <div class="mdl-layout__content">
        @if (Model == null || Model.Count() == 0)
        {
            <div class="mdl-grid center-items">
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
                    <div class="mdl-card__supporting-text">
                        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload" class="navbar-right">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col">
                                        <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile" readonly />
                                        <div class="mdl-button mdl-button--accent mdl-button--icon mdl-button--file">
                                            <i class="material-icons">attach_file</i><input type="file" name="file" id="uploadBtn">
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col">
                                        <label class="mdl-button mdl-button--accent mdl-button--raised mdl-js-button mdl-js-ripple-effect">
                                            Upload
                                            <input type="submit" value="Upload" name="Submit" id="Submit" style="display: none;" />
                                        </label>
                                    </div>
                                </div>



                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="mdl-grid center-items">
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
                    <div class="mdl-card__supporting-text">
                        You don't have any BCF files, please load one
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="mdl-grid">
                @foreach (var item in Model)
                {
                    <div class="mdl-card mdl-shadow--2dp mdl-cell demo-card-image">
                        <div class="demo-card-image mdl-card" style="background: url('@item.ImageSource') center / cover">
                            <div class="mdl-card__title mdl-card--expand"></div>
                            <div class="demo-card-image__caption">
                                <span class="demo-card-image__filename">@item.Title</span>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>By @item.CreationAuthor</p>
                            <p>@item.CreationDate</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<div class="mdl-layout-spacer"></div>
<footer class="mdl-mini-footer">
    <div class="mdl-mega-footer--left-section">
        <ul class="mdl-mini-footer__link-list">
            <li>From <a href="http://www.bim42.com" style="text-decoration: underline">BIM 42</a>, with <i class="material-icons md-15">favorite</i></li>
        </ul>
    </div>
    <div class="mdl-mini-footer--right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>Licence MIT</li>
            <li>Icons by Oksana Latysheva and Dmitry Mirolyubov from the Noun Project</li>
            <li>Available on <a href="https://github.com/simonmoreau/Sloth" style="text-decoration: underline">GitHub</a></li>
        </ul>
    </div>
</footer>

